<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <h1>Neural Style</h1>
    <img src="/images/sps100.jpg">
    <img src="/images/sps80.jpg">
    <img src="/images/sps60.jpg">
    <img src="/images/sps40.jpg">
    <img src="/images/sps20.jpg">
  </body>
</html>
