<!DOCTYPE html>
<html>
  <head>
    <title>Neural Style</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Neural Style</h1>
    <img src="/images/sps100.jpg">
    <img src="/images/sps80.jpg">
    <img src="/images/sps60.jpg">
  </body>
</html>
