body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#multi-style-slider {
  background: #BABABA;
}

.multi-style-img {
  margin: auto;
  display: none;
}
.multi-style-shown {
  display: block;
}

.centered-row {
  text-align: center;
}


